# Data Preparation Exercises

## Imports

In [1]:
# unicode, regex, json for text digestion
import unicodedata
import re
import json

# nltk: natural language toolkit -> tokenization, stopwords
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

# pandas dataframe manipulation, acquire script, time formatting
import pandas as pd
import acquire
from time import strftime

# shh, down in front
import warnings
warnings.filterwarnings('ignore')

## Exercises

The end result of this exercise should be a file named `prepare.py` that defines the requested functions.

In this exercise we will be defining some functions to prepare textual data. These functions should apply equally well to both the codeup blog articles and the news articles that were previously acquired.

### 1. Define a function named `basic_clean`. It should take in a string and apply some basic text cleaning to it:

* Lowercase everything
* Normalize unicode characters
* Replace anything that is not a letter, number, whitespace or a single quote.

In [2]:
# we will define a basic_clean function for a single document (one string)
def basic_clean(string):
    '''
    This function takes in a string and
    returns the string normalized.
    '''
    # we will normalize our data into standard NFKD unicode, feed it into an ascii encoding
    # decode it back into UTF-8
    string = unicodedata.normalize('NFKD', string)\
             .encode('ascii', 'ignore')\
             .decode('utf-8', 'ignore')
    # utilize our regex substitution to remove our undesirable characters, then lowercase
    string = re.sub(r"[^\w0-9'\s]", '', string).lower()
    return string

### 2. Define a function named `tokenize`. It should take in a string and tokenize all the words in the string.

In [3]:
def tokenize(string):
    '''
    This function takes in a string and
    returns a tokenized string.
    '''
    # make our tokenizer, taken from nltk's ToktokTokenizer
    tokenizer = nltk.tokenize.ToktokTokenizer()
    # apply our tokenizer's tokenization to the string being input, ensure it returns a string
    string = tokenizer.tokenize(string, return_str = True)
    
    return string

### 3. Define a function named `stem`. It should accept some text and return the text after applying stemming to all the words.

In [4]:
def stem(string):
    '''
    This function takes in a string and
    returns a string with words stemmed.
    '''
    # create our stemming object
    ps = nltk.porter.PorterStemmer()
    # use a list comprehension => stem each word for each word inside of the entire document,
    # split by the default, which are single spaces
    stems = [ps.stem(word) for word in string.split()]
    # glue it back together with spaces, as it was before
    string = ' '.join(stems)
    
    return string

### 4. Define a function named `lemmatize`. It should accept some text and return the text after applying lemmatization to each word.

In [5]:
def lemmatize(string):
    '''
    This function takes in string for and
    returns a string with words lemmatized.
    '''
    # create our lemmatizer object
    wnl = nltk.stem.WordNetLemmatizer()
    # use a list comprehension to lemmatize each word
    # string.split() => output a list of every token inside of the document
    lemmas = [wnl.lemmatize(word) for word in string.split()]
    # glue the lemmas back together by the strings we split on
    string = ' '.join(lemmas)
    #return the altered document
    return string

### 5. Define a function named `remove_stopwords`. It should accept some text and return the text after removing all the stopwords. 

### This function should define two optional parameters, `extra_words` and `exclude_words`. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [6]:
list1 = [1, 2, 3, 4]
list2 = [2, 1, 3, 4]

print(set(list1)==set(list2))

True

In [7]:
mylist = ['a', 'b', 'c', 'c', 'd']

myset = set(mylist)

print(mylist, myset)

['a', 'b', 'c', 'c', 'd'] {'b', 'd', 'c', 'a'}

In [9]:
def remove_stopwords(string, extra_words = [], exclude_words = []):
    '''
    This function takes in a string, optional extra_words and exclude_words parameters
    with default empty lists and returns a string.
    '''
    # assign our stopwords from nltk into stopword_list
    stopword_list = stopwords.words('english')
    # utilizing set casting, i will remove any excluded stopwords
    stopword_list = set(stopword_list) - set(exclude_words)
    # add in any extra words to my stopwords set using a union
    stopword_list = stopword_list.union(set(extra_words))
    # split our document by spaces
    words = string.split()
    # every word in our document, as long as that word is not in our stopwords
    filtered_words = [word for word in words if word not in stopword_list]
    # glue it back together with spaces, as it was so it shall be
    string_without_stopwords = ' '.join(filtered_words)
    # return the document back
    return string_without_stopwords

In [24]:
test_list = ['Hello', 'Jemison', 'How', 'are', 'you']
test_list

['Hello', 'Jemison', 'How', 'are', 'you']

In [29]:
'/'.join(test_list)

'Hello/Jemison/How/are/you'

### 6. Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe `news_df`.

In [10]:
news_df = acquire.get_news_articles_data()
news_df

,title,content,category
0,"Rebel Sena MP is party's leader in Lok Sabha, ...",Maharashtra Chief Minister Eknath Shinde on Tu...,national
1,Situation is exceptional but comparing it with...,The government hosted an all-party meeting on ...,national
2,"Huge sinkhole opens up in New York City, swall...",A video has gone viral showing a huge sinkhole...,national
3,Farmer files complaint against Lord Indra over...,A UP farmer submitted a written complaint to t...,national
4,I retired from ODIs due to horrendous schedule...,Ex-England captain Kevin Pietersen took to Twi...,national
...,...,...,...
295,K'taka officials isolate co-passengers of Indi...,Authorities in Karnataka's Dakshina Kannada di...,automobile
296,"22 killed, 33 injured as bus hits truck in sou...",At least 22 people were killed and 33 people w...,automobile
297,Canada temple issues security measures after G...,The management of the Vishnu temple in Canada'...,automobile
298,India on course to achieve 8-8.5% growth based...,India is on course to achieve projected 8-8.5%...,automobile
299,Hindustan Unilever's net profit rises 14% YoY ...,Hindustan Unilever Limited (HUL) on Tuesday re...,automobile

### 7. Make another dataframe for the Codeup blog posts. Name the dataframe `codeup_df`.

In [11]:
codeup_df = acquire.get_blog_articles_data()
codeup_df

,title,content
0,What Jobs Can You Get After a Coding Bootcamp?...,Have you been considering a career in Cloud Ad...
1,What Jobs Can You Get After a Coding Bootcamp?...,If you are interested in embarking on a career...
2,Is Our Cloud Administration Program Right for ...,Changing careers can be scary. The first thing...
3,5 Reasons To Attend Our New Cloud Administrati...,Come Work In The Cloud\nWhen your Monday rolls...
4,What Jobs Can You Get After a Coding Bootcamp?...,Have you been considering a career in Cloud Ad...
5,What Jobs Can You Get After a Coding Bootcamp?...,If you are interested in embarking on a career...
6,In-Person Workshop: Learn to Code – JavaScript...,Join us for our live in-person JavaScript cras...
7,In-Person Workshop: Learn to Code – Python on ...,"According to LinkedIn, the “#1 Most Promising ..."
8,Free JavaScript Workshop at Codeup Dallas on 6/28,Event Info: \nLocation – Codeup Dallas\nTime –...
9,Is Our Cloud Administration Program Right for ...,Changing careers can be scary. The first thing...
10,PRIDE in Tech Panel,"In celebration of PRIDE month, join our Codeup..."
11,Inclusion at Codeup During Pride Month (and Al...,Happy Pride Month! Pride Month is a dedicated ...
12,Mental Health First Aid Training,"As a student of Codeup, going through a massiv..."
13,Codeup Dallas: How to Succeed at a Coding Boot...,This event is the perfect opportunity for peop...
14,5 Reasons To Attend Our New Cloud Administrati...,Come Work In The Cloud\nWhen your Monday rolls...
15,Learn to Code: Python on 5/21,"According to LinkedIn, the “#1 Most Promising ..."
16,Codeup Dallas Joins Career Day,Last week our Codeup Dallas team participated ...
17,Project Quest Info Session: IT Jumpstart on Ma...,Join our grant partner Project Quest as they d...
18,From Bootcamp to Bootcamp | A Military Appreci...,"In honor of Military Appreciation Month, join ..."
19,Our Acquisition of the Rackspace Cloud Academy...,"Just about a year ago on April 16th, 2021 we a..."
20,Learn to Code: HTML & CSS on 4/30,HTML & CSS are the design building blocks of a...
21,Learn to Code: Python Workshop on 4/23,"According to LinkedIn, the “#1 Most Promising ..."

### 8. For each dataframe, produce the following columns:

* `title` to hold the title
* `original` to hold the original article/post content
* `clean` to hold the normalized and tokenized original with the stopwords removed.
* `stemmed` to hold the stemmed version of the cleaned data.
* `lemmatized` to hold the lemmatized version of the cleaned data.

In [12]:
# what we want:
#  -clean: normalized/tokenized, with stopwords removed
#         apply: basic_clean, tokenize, remove_stopwords
#  -stemmed: stemmed version of cleaned data
            # apply: stem function onto cleaned data
#  -lemmatized: lemmatized version of cleaned data
            # apply: lemmatize function onto cleaned datas

In [13]:
# df['some_col'] = df['old_col'].apply(some_function)

In [14]:
news_df.rename(columns={'content': 'original'}, inplace=True)
codeup_df.rename(columns={'content': 'original'}, inplace=True)

In [15]:
news_df

,title,original,category
0,"Rebel Sena MP is party's leader in Lok Sabha, ...",Maharashtra Chief Minister Eknath Shinde on Tu...,national
1,Situation is exceptional but comparing it with...,The government hosted an all-party meeting on ...,national
2,"Huge sinkhole opens up in New York City, swall...",A video has gone viral showing a huge sinkhole...,national
3,Farmer files complaint against Lord Indra over...,A UP farmer submitted a written complaint to t...,national
4,I retired from ODIs due to horrendous schedule...,Ex-England captain Kevin Pietersen took to Twi...,national
...,...,...,...
295,K'taka officials isolate co-passengers of Indi...,Authorities in Karnataka's Dakshina Kannada di...,automobile
296,"22 killed, 33 injured as bus hits truck in sou...",At least 22 people were killed and 33 people w...,automobile
297,Canada temple issues security measures after G...,The management of the Vishnu temple in Canada'...,automobile
298,India on course to achieve 8-8.5% growth based...,India is on course to achieve projected 8-8.5%...,automobile
299,Hindustan Unilever's net profit rises 14% YoY ...,Hindustan Unilever Limited (HUL) on Tuesday re...,automobile

In [16]:
codeup_df

,title,original
0,What Jobs Can You Get After a Coding Bootcamp?...,Have you been considering a career in Cloud Ad...
1,What Jobs Can You Get After a Coding Bootcamp?...,If you are interested in embarking on a career...
2,Is Our Cloud Administration Program Right for ...,Changing careers can be scary. The first thing...
3,5 Reasons To Attend Our New Cloud Administrati...,Come Work In The Cloud\nWhen your Monday rolls...
4,What Jobs Can You Get After a Coding Bootcamp?...,Have you been considering a career in Cloud Ad...
5,What Jobs Can You Get After a Coding Bootcamp?...,If you are interested in embarking on a career...
6,In-Person Workshop: Learn to Code – JavaScript...,Join us for our live in-person JavaScript cras...
7,In-Person Workshop: Learn to Code – Python on ...,"According to LinkedIn, the “#1 Most Promising ..."
8,Free JavaScript Workshop at Codeup Dallas on 6/28,Event Info: \nLocation – Codeup Dallas\nTime –...
9,Is Our Cloud Administration Program Right for ...,Changing careers can be scary. The first thing...
10,PRIDE in Tech Panel,"In celebration of PRIDE month, join our Codeup..."
11,Inclusion at Codeup During Pride Month (and Al...,Happy Pride Month! Pride Month is a dedicated ...
12,Mental Health First Aid Training,"As a student of Codeup, going through a massiv..."
13,Codeup Dallas: How to Succeed at a Coding Boot...,This event is the perfect opportunity for peop...
14,5 Reasons To Attend Our New Cloud Administrati...,Come Work In The Cloud\nWhen your Monday rolls...
15,Learn to Code: Python on 5/21,"According to LinkedIn, the “#1 Most Promising ..."
16,Codeup Dallas Joins Career Day,Last week our Codeup Dallas team participated ...
17,Project Quest Info Session: IT Jumpstart on Ma...,Join our grant partner Project Quest as they d...
18,From Bootcamp to Bootcamp | A Military Appreci...,"In honor of Military Appreciation Month, join ..."
19,Our Acquisition of the Rackspace Cloud Academy...,"Just about a year ago on April 16th, 2021 we a..."
20,Learn to Code: HTML & CSS on 4/30,HTML & CSS are the design building blocks of a...
21,Learn to Code: Python Workshop on 4/23,"According to LinkedIn, the “#1 Most Promising ..."

In [17]:
def prep_article_data(df, column, extra_words=[], exclude_words=[], stem=True, lemmatize=True):
    '''
    This function take in a df and the string name for a text column with 
    option to pass lists for extra_words and exclude_words and
    returns a df with the text article title, original text, stemmed text,
    lemmatized text, cleaned, tokenized, & lemmatized text with stopwords removed.
    '''
    df['clean'] = df[column].apply(basic_clean)\
                            .apply(tokenize)\
                            .apply(remove_stopwords,
                                  extra_words=extra_words,
                                  exclude_words=exclude_words)
    
    df['stemmed'] = df['clean'].apply(stem)
    
    df['lemmatized'] = df['clean'].apply(lemmatize)
    
    return df[['title', column,'clean', 'stemmed', 'lemmatized']]

In [18]:
prep_article_data(news_df, 'original', extra_words = ['ha'], exclude_words = ['no'])

,title,original,clean,stemmed,lemmatized
0,"Rebel Sena MP is party's leader in Lok Sabha, ...",Maharashtra Chief Minister Eknath Shinde on Tu...,maharashtra chief minister eknath shinde tuesd...,maharashtra chief minist eknath shind tuesday ...,maharashtra chief minister eknath shinde tuesd...
1,Situation is exceptional but comparing it with...,The government hosted an all-party meeting on ...,government hosted allparty meeting sri lanka c...,govern host allparti meet sri lanka crisi tues...,government hosted allparty meeting sri lanka c...
2,"Huge sinkhole opens up in New York City, swall...",A video has gone viral showing a huge sinkhole...,video gone viral showing huge sinkhole opening...,video gone viral show huge sinkhol open new yo...,video gone viral showing huge sinkhole opening...
3,Farmer files complaint against Lord Indra over...,A UP farmer submitted a written complaint to t...,farmer submitted written complaint local admin...,farmer submit written complaint local administ...,farmer submitted written complaint local admin...
4,I retired from ODIs due to horrendous schedule...,Ex-England captain Kevin Pietersen took to Twi...,exengland captain kevin pietersen took twitter...,exengland captain kevin pietersen took twitter...,exengland captain kevin pietersen took twitter...
...,...,...,...,...,...
295,K'taka officials isolate co-passengers of Indi...,Authorities in Karnataka's Dakshina Kannada di...,authorities karnataka ' dakshina kannada distr...,author karnataka ' dakshina kannada district i...,authority karnataka ' dakshina kannada distric...
296,"22 killed, 33 injured as bus hits truck in sou...",At least 22 people were killed and 33 people w...,least 22 people killed 33 people injured passe...,least 22 peopl kill 33 peopl injur passeng bu ...,least 22 people killed 33 people injured passe...
297,Canada temple issues security measures after G...,The management of the Vishnu temple in Canada'...,management vishnu temple canada ' toronto issu...,manag vishnu templ canada ' toronto issu new s...,management vishnu temple canada ' toronto issu...
298,India on course to achieve 8-8.5% growth based...,India is on course to achieve projected 8-8.5%...,india course achieve projected 885 growth base...,india cours achiev project 885 growth base hig...,india course achieve projected 885 growth base...
299,Hindustan Unilever's net profit rises 14% YoY ...,Hindustan Unilever Limited (HUL) on Tuesday re...,hindustan unilever limited hul tuesday reporte...,hindustan unilev limit hul tuesday report 1385...,hindustan unilever limited hul tuesday reporte...

In [19]:
prep_article_data(codeup_df, 'original', extra_words = ['ha'], exclude_words = ['no']).head()

,title,original,clean,stemmed,lemmatized
0,What Jobs Can You Get After a Coding Bootcamp?...,Have you been considering a career in Cloud Ad...,considering career cloud administration no ide...,consid career cloud administr no idea job titl...,considering career cloud administration no ide...
1,What Jobs Can You Get After a Coding Bootcamp?...,If you are interested in embarking on a career...,interested embarking career tech youre probabl...,interest embark career tech your probabl wonde...,interested embarking career tech youre probabl...
2,Is Our Cloud Administration Program Right for ...,Changing careers can be scary. The first thing...,changing careers scary first thing may asking ...,chang career scari first thing may ask begin l...,changing career scary first thing may asking b...
3,5 Reasons To Attend Our New Cloud Administrati...,Come Work In The Cloud\nWhen your Monday rolls...,come work cloud monday rolls around start get ...,come work cloud monday roll around start get s...,come work cloud monday roll around start get s...
4,What Jobs Can You Get After a Coding Bootcamp?...,Have you been considering a career in Cloud Ad...,considering career cloud administration no ide...,consid career cloud administr no idea job titl...,considering career cloud administration no ide...

### 9. Ask yourself:

* If your corpus is 493KB, would you prefer to use stemmed or lemmatized text?
* If your corpus is 25MB, would you prefer to use stemmed or lemmatized text?
* If your corpus is 200TB of text and you're charged by the megabyte for your hosted computational resources, would you prefer to use stemmed or lemmatized text?